

-- tạo procedure đã phân bổ 
create or replace procedure fct_business_month_prc (
    vMonth_key numeric   -- truyền vào dạng YYYYMM, ví dụ: 202302
)
language plpgsql
as $$ 
declare 
declare 
    vProcess_dt  date;     -- tháng muốn tính 
    vStart_month date;     -- đầu năm
    vStart_time timestamp = clock_timestamp();
begin 
	-- ----------
		-- THÔNG TIN NGƯỜI TẠO 
		-- ----------
		-- Tên người tạo: Nguyễn Văn Chính
		-- Ngày tạo: 2025-10-14
		-- Mục đích: Báo cáo tổng hợp các chỉ tiêu của các khu vực theo tháng 
		
		
		-- ----------
		-- THÔNG TIN NGƯỜI CẬP NHẬP
		-- ----------
		-- Tên người cập nhập: 
		-- Ngày cập nhập: 
		-- Mục đích cập nhập: Mô tả mục đích, sửa lỗi, nâng cấp hoặc đổi mới 
		
		-- ----------
		-- SUMMARY LUỒNG XỬ LÝ 
		-- ----------
	
	-- Insert log start 
    insert into log_tracking_business(procedure_name, start_time, is_successful, rec_created_dt)
    values('prc_tmp_dnck_after_wo', vStart_time, null, current_timestamp);

    -- B1: Xác định tháng xử lý
    vProcess_dt  := to_date(vMonth_key::text,'YYYYMM');
    vStart_month := date_trunc('year', vProcess_dt);
   
    -- B2: Xóa dữ liệu cũ
    truncate table fct_business_month;

    /* B3: Insert dữ liệu mới các chỉ tiêu: lãi quá hạn, lãi trong hạn, chi phí bảo hiểm, phí tăng hạn mức, phí thanh toán chậm, chi phí vốn tt2,
   	chi phí vốn tt1, chi phí vốn cctg, dt kinh doanh, chi phí hoa hồng, chi phí thuần kd khác, chi phí thuế phí, chi phí nhân viên, chi phí quản lý,
   	chi phí tài sản, thu nhập hđ từ thẻ, chi phí thuần KDV, chi phí thuần hđ khác, tổng thu nhập hđ, lợi nhuận trước thuế, CIR, MARGIN, hiệu suất trên vốn, hiệu suất BQ / nhân sự
   	**/
	
   	insert into fct_business_month 
   	(month_key, area_code, lai_trong_han, lai_qua_han, phi_bao_hiem, phi_tang_han_muc, phi_thanh_toan_cham, 
   	chi_phi_von_tt2, chi_phi_von_tt1, chi_phi_von_CCTG, dt_kinh_doanh, chi_phi_hoa_hong, chi_phi_thuan_kd_khac,
   	chi_phi_thue_phi, chi_phi_nhan_vien, chi_phi_quan_ly, chi_phi_tai_san, thu_nhap_hd_tu_the, chi_phi_thuan_KDV, 
   	chi_phi_thuan_hoat_dong_khac, tong_thu_nhap_hd, tong_chi_phi_hoat_dong, chi_phi_du_phong, so_luong_nhan_su,
   	loi_nhuan_truoc_thue, cir, margin, hieu_suat_tren_von, hieu_suat_binh_quan_tren_nhan_su) 
	select a1.month_key , 
		  a1.area_code ,
	      a1.lai_trong_han ,
	      b1.lai_qua_han , 
	      c1.phi_bao_hiem,
	      d1.phi_tang_han_muc ,
	      e1.phi_thanh_toan_cham,
	      f1.chi_phi_von_tt2 ,
	      g1.chi_phi_von_tt1 ,
	      h1.chi_phi_von_CCTG ,
	      i1.dt_kinh_doanh ,
	      j1.chi_phi_hoa_hong ,
	      k1.chi_phi_thuan_kd_khac ,
	      l1.chi_phi_thue_phi ,
	      m1.chi_phi_nhan_vien ,
	      n1.chi_phi_quan_ly, 
	      o1.chi_phi_tai_san ,
	      -- tính thu nhập hđ từ thẻ
	      coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0) as thu_nhap_hd_tu_the,
	      
	      -- tính chi phí thuần kinh doanh vốn 
	      coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) as chi_phi_thuan_KDV,
	      
	      -- tính chi phí thuần hoạt động khác
	      coalesce(i1.dt_kinh_doanh,0) + coalesce(j1.chi_phi_hoa_hong,0) + coalesce(k1.chi_phi_thuan_kd_khac,0) as chi_phi_thuan_hoat_dong_khac,
	      
	      -- tính tổng thu nhập hoạt động
	      (coalesce(i1.dt_kinh_doanh,0) + coalesce(j1.chi_phi_hoa_hong,0) + coalesce(k1.chi_phi_thuan_kd_khac,0)) + 
	      	coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	      	(coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) as tong_thu_nhap_hd,
	      	
	      -- tính tổng chi phí hoạt động 
	      coalesce(l1.chi_phi_thue_phi,0) + coalesce(m1.chi_phi_nhan_vien,0) + coalesce(n1.chi_phi_quan_ly,0) + coalesce(o1.chi_phi_tai_san,0) as tong_chi_phi_hoat_dong,
	      
	      
	      coalesce(p1.chi_phi_du_phong,0) ,
	      
	      coalesce(q1.so_luong_nhan_su, 0) ,
	      
	      -- tính lợi nhuận trước thuế
	      coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	      	(coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) +
	      	coalesce(l1.chi_phi_thue_phi,0) + m1.chi_phi_nhan_vien + n1.chi_phi_quan_ly + o1.chi_phi_tai_san + 
	      	p1.chi_phi_du_phong as loi_nhuan_truoc_thue,
	      
	      -- tính CIR
	      100.0 * -(coalesce(l1.chi_phi_thue_phi,0) + m1.chi_phi_nhan_vien + n1.chi_phi_quan_ly + o1.chi_phi_tai_san) / 
	      nullif((coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	      	(coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0))),0) as CIR,
	      	
	   	  -- tính MARGIN 
	  	  100.0 * (coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	  	  (coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) +
	  	  coalesce(l1.chi_phi_thue_phi,0) + coalesce(m1.chi_phi_nhan_vien,0) + coalesce(n1.chi_phi_quan_ly,0) + coalesce(o1.chi_phi_tai_san,0) + 
	  	  coalesce(p1.chi_phi_du_phong, 0)) / 
	  	  	nullif(((coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) +
	  	  	coalesce(i1.dt_kinh_doanh,0)),0) as MARGIN,
	  	  
	  	  -- tính hiệu suất trên vốn 
	  	  -100.0 * (coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	  	  (coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) +
	  	  coalesce(l1.chi_phi_thue_phi,0) + coalesce(m1.chi_phi_nhan_vien,0) + coalesce(n1.chi_phi_quan_ly,0) + coalesce(o1.chi_phi_tai_san,0) + 
	  	  coalesce(p1.chi_phi_du_phong,0)) / 
	  	  	nullif((coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0)),0) as hieu_suat_tren_von,
	  	  
	  	  -- tính hiệu suất BQ / nhân sự
	  	  100.0 * (coalesce(f1.chi_phi_von_tt2, 0) + coalesce(g1.chi_phi_von_tt1, 0) + coalesce(h1.chi_phi_von_CCTG, 0) + 
	  	  (coalesce(a1.lai_trong_han,0) + coalesce(b1.lai_qua_han,0) + coalesce(c1.phi_bao_hiem,0) + coalesce(d1.phi_tang_han_muc,0) + coalesce(e1.phi_thanh_toan_cham,0)) +
	  	  coalesce(l1.chi_phi_thue_phi,0) + coalesce(m1.chi_phi_nhan_vien,0) + coalesce(n1.chi_phi_quan_ly,0) + coalesce(o1.chi_phi_tai_san,0) + 
	  	  coalesce(p1.chi_phi_du_phong,0)) / nullif(q1.so_luong_nhan_su,0) as hieu_suat_binh_quan_tren_nhan_su
	from 
	(
		-- tính lãi trong hạn đã phân bổ 
		select x.month_key , x.area_code , 
			x.lai_trong_han + (z.lai_trong_han * avg_dbgroup_12345 / avg_dbgroup_12345_head) as lai_trong_han 
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			-- lấy dnck sau wo 
			select a.month_key , a.area_code , a.avg_dbgroup_12345 , b.avg_dbgroup_12345 as avg_dbgroup_12345_head
			from tmp_dnck_after_wo a
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD'
		) y on y.month_key = x.month_key and y.area_code = x.area_code 
		where x.area_code <> 'HEAD'
	) a1 
	

	
	left join
	(
		-- tính lãi quá hạn đã phân bổ 
		select x.month_key , x.area_code , 
			   x.lai_qua_han + (z.lai_qua_han * avg_dbgroup_2 / avg_dbgroup_2_head) as lai_qua_han 
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		( 
			-- lấy dnck sau wo nhóm 2 
			select a.month_key , a.area_code , a.avg_dbgroup_2 , b.avg_dbgroup_2 as avg_dbgroup_2_head
			from tmp_dnck_after_wo a 
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD'
		) y on y.month_key = x.month_key and y.area_code = x.area_code 
		where x.area_code <> 'HEAD'
	) b1 on a1.area_code = b1.area_code and a1.month_key = b1.month_key 
	
	left join 
	(
		-- tính phí bảo hiểm đã phân bổ 
		select x.month_key , x.area_code , 
			   x.phi_bao_hiem + (z.phi_bao_hiem * y.psdn_count / y_head.psdn_count) as phi_bao_hiem 
		from tmp_area_chua_phan_bo x
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		left join (
			-- đếm số psdn theo khu vực và tháng
		    select f.kpi_month, c.area_code, count(distinct f.application_id) as psdn_count
		    from fact_kpi_month_raw_data f
		    join dim_city c on f.pos_city = c.city_name  -- mapping city → area_code (B..H)
		    where psdn = 1
		    group by kpi_month, area_code
		) y on x.month_key = y.kpi_month and x.area_code = y.area_code
		left join (
			-- đếm số psdn theo tháng 
		    select kpi_month, count(distinct application_id) as psdn_count
		    from fact_kpi_month_raw_data
		    where psdn = 1
		    group by kpi_month
		) y_head on x.month_key = y_head.kpi_month 
		where x.area_code <> 'HEAD'
	) c1 on a1.area_code =  c1.area_code and a1.month_key = c1.month_key
	
	left join 
	(
		-- tính phí tăng hạn mức 
		select x.month_key , x.area_code , 
			   x.phi_tang_han_muc + (z.phi_tang_han_muc * avg_dbgroup_1 / avg_dbgroup_1_head) as phi_tang_han_muc  
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			-- lấy dnck sau wo nhóm 1
			select a.month_key , a.area_code , a.avg_dbgroup_1 , b.avg_dbgroup_1 as avg_dbgroup_1_head
			from tmp_dnck_after_wo a
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD'
		) y on y.month_key = x.month_key and y.area_code = x.area_code 
		where x.area_code <> 'HEAD'
	) d1 on a1.area_code =  d1.area_code and a1.month_key = d1.month_key
	
	left join 
	(
		-- tính phí thanh toán chậm, thu từ ngoại bảng,...
		select x.month_key , x.area_code , 
			   x.phi_thanh_toan_cham + (z.phi_thanh_toan_cham * avg_dbgroup_2345 / avg_dbgroup_2345_head) as phi_thanh_toan_cham  
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			-- lấy dnck sau wo nhóm 2345
			select a.month_key , a.area_code , a.avg_dbgroup_2345 , b.avg_dbgroup_2345 as avg_dbgroup_2345_head
			from tmp_dnck_after_wo a
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD'
		) y on y.month_key = x.month_key and y.area_code = x.area_code 
		where x.area_code <> 'HEAD'
	) e1 on a1.area_code = e1.area_code and a1.month_key = e1.month_key
	
	left join 
	(
		-- tính chi phí vốn thị trường 2 đã phân bổ 
		select dnck.month_key , dnck.area_code ,
			   CAST(dnck.dnck_after_wo_lk  * 1.0 / dnck_total.dnck_after_wo_lk * head.chi_phi_von_tt2 AS BIGINT) as chi_phi_von_tt2 
		from 
		(
			-- tính dnck lũy kế theo khu vực 
			select vMonth_key as month_key, 
			       y.area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                               and vMonth_key 
			group by y.area_code
			
			union all
			
			select vMonth_key as month_key, 
			       'HEAD' as area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                              and vMonth_key
		) as dnck 
		join (
			-- tính chi phí vốn thị trường 2
		    select month_key, chi_phi_von_tt2 
		    from 
		    (
		    	select 
			   		vMonth_key as month_key,
			   		split_part(analysis_code , '.', 3) as area_code, 
			   		SUM(amount) AS chi_phi_von_tt2
				from fact_txn_month_raw_data ftmrd 
				where account_code in (801000000001,802000000001)
					and analysis_code like 'DVML%' 
					and transaction_date between vStart_month 
                                           and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
       									 
				group by split_part(analysis_code , '.', 3) 
				
				union all 
				
				-- chi phí vốn thị trường 2 HEAD 
				select 
					   vMonth_key as month_key,
					   'HEAD' as area_code, 
					   SUM(amount) AS chi_phi_von_tt2
				from fact_txn_month_raw_data ftmrd 
				where account_code in (801000000001,802000000001)
					and analysis_code like 'HEAD%' 
					and transaction_date between vStart_month 
                                           and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
				group by split_part(analysis_code , '.', 3)
		    )
		    where area_code = 'HEAD'
		) head on head.month_key = dnck.month_key
		join (
			-- tính tổng dnck sau wo lũy kế của các khu vực (trừ HEAD)
		    select month_key, sum(dnck_after_wo_lk) as dnck_after_wo_lk
		    from
		    (
		    	select vMonth_key as month_key, 
			       	y.area_code, 
			       	sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
				group by y.area_code
				
				union all 
				
				select vMonth_key as month_key, 
				       'HEAD' as area_code, 
				       sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
		    )
		    where area_code <> 'HEAD'
		    group by month_key
		) dnck_total on dnck_total.month_key = dnck.month_key 
		where dnck.area_code <> 'HEAD'
	) f1 on a1.area_code = f1.area_code and a1.month_key = f1.month_key 
	
	left join 
	(
		-- tính chi phí vốn thị trường 1 đã phân bổ 
		select dnck.month_key , dnck.area_code ,
			   CAST(dnck.dnck_after_wo_lk  * 1.0 / dnck_total.dnck_after_wo_lk * head.chi_phi_von_tt1 AS BIGINT) as chi_phi_von_tt1 
		from 
		(
			-- tính dnck lũy kế theo khu vực 
			select vMonth_key as month_key, 
			       y.area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
			group by y.area_code
			union all 
			select vMonth_key as month_key, 
			       'HEAD' as area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
		) as dnck 
		join (
			-- tính chi phí vốn tt1
		    select month_key, chi_phi_von_tt1
		    from 
		    (
		    	select vMonth_key as month_key,
					 split_part(analysis_code,'.', 3) as area_code,
					 sum(amount) as chi_phi_von_tt1
				from fact_txn_month_raw_data  
				where transaction_date between vStart_month 
                                           and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
					and account_code in (802000000002, 802000000003, 802014000001, 802037000001)
					and analysis_code like 'DVML%'
				group by split_part(analysis_code , '.', 3)
				
				union all 
				
				select  vMonth_key as month_key,
						'HEAD' as area_code,
						sum(amount) as chi_phi_von_tt1
				from fact_txn_month_raw_data  
				where transaction_date between vStart_month 
                                           and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
					and account_code in (802000000002, 802000000003, 802014000001, 802037000001)
					and analysis_code like 'HEAD%'
				group by split_part(analysis_code , '.', 3)
		    )
		    where area_code = 'HEAD'
		) head on head.month_key = dnck.month_key
		
		join (
			-- tính dnck sau wo lũy kế của các khu vực (trừ HEAD)
		    select month_key, sum(dnck_after_wo_lk) as dnck_after_wo_lk
		    from
		    (
		    	select vMonth_key as month_key, 
			       	y.area_code, 
			       	sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key 
				group by y.area_code
				
				union all 
				
				select vMonth_key as month_key, 
				       'HEAD' as area_code,
				       sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
		    )
		    where area_code <> 'HEAD'
		    group by month_key
			) dnck_total on dnck_total.month_key = dnck.month_key 
		where dnck.area_code <> 'HEAD'
	) g1 on a1.area_code = g1.area_code and a1.month_key = g1.month_key 
	
	left join 
	(
		-- tính chi phí vốn chứng chỉ tiền gửi 
		select dnck.month_key , dnck.area_code ,
		      CAST(dnck.dnck_after_wo_lk  * 1.0 / dnck_total.dnck_after_wo_lk * head.chi_phi_von_CCTG AS BIGINT) as chi_phi_von_CCTG 
		from 
		(
			-- tính dnck lũy kế theo khu vực 
			select vMonth_key as month_key, 
			       y.area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
			group by y.area_code
			union all 
			select vMonth_key as month_key, 
			       'HEAD' as area_code, 
			       sum(outstanding_principal) as dnck_after_wo_lk
			from fact_kpi_month_raw_data x
			join dim_city y 
			     on x.pos_city = y.city_name
			where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
		) as dnck 
		join (
			-- tính chi phí vống chứng chỉ tiền gửi 
		    select month_key, chi_phi_von_CCTG
		    from 
		    (
		    	select  vMonth_key as month_key,
						split_part(analysis_code,'.', 3) as area_code,
						sum(amount) as chi_phi_von_CCTG
				from fact_txn_month_raw_data  
				where transaction_date between vStart_month 
                                       and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
					and account_code = 803000000001
					and analysis_code like 'DVML%'
				group by split_part(analysis_code , '.', 3)
				
				union all 
				
				select  vMonth_key as month_key,
						'HEAD' as area_code,
						sum(amount) as chi_phi_von_CCTG
				from fact_txn_month_raw_data  
				where transaction_date between vStart_month 
                                       and (date_trunc('month', vProcess_dt) + interval '1 month - 1 day')
					and account_code = 803000000001
					and analysis_code like 'HEAD%'
				group by split_part(analysis_code , '.', 3)
		    )
		    where area_code = 'HEAD'
		) head on head.month_key = dnck.month_key
		join (
			-- tinh tổng dnck sau wo lũy kế của các khu vực (trừ HEAD)
		    select month_key, sum(dnck_after_wo_lk) as dnck_after_wo_lk
		    from
		    (
		    	select vMonth_key as month_key, 
			       	y.area_code, 
			       	sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                              and vMonth_key
				group by y.area_code
				union all 
				select vMonth_key as month_key, 
				       'HEAD' as area_code, 
				       sum(outstanding_principal) as dnck_after_wo_lk
				from fact_kpi_month_raw_data x
				join dim_city y 
				     on x.pos_city = y.city_name
				where x.kpi_month between to_char(vStart_month,'YYYYMM')::numeric
                                     and vMonth_key
		    )
		    where area_code <> 'HEAD'
		    group by month_key
		) dnck_total on dnck_total.month_key = dnck.month_key 
		where dnck.area_code <> 'HEAD'
	) h1 on a1.area_code = h1.area_code and a1.month_key = h1.month_key
	
	left join 
	(
		-- tính doanh thu kinh doanh đã phân bổ 
		select x.month_key , x.area_code ,
			x.dt_kinh_doanh + (z.dt_kinh_doanh *  y.avg_dbgroup_12345 / y.avg_dbgroup_12345_head) as dt_kinh_doanh 
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			select a.month_key , a.area_code , a.avg_dbgroup_12345, b.avg_dbgroup_12345 as avg_dbgroup_12345_head
			from tmp_dnck_after_wo a 
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD' 
		) y on x.month_key = y.month_key and x.area_code = y.area_code 
		where x.area_code <> 'HEAD'
	) i1 on a1.area_code = i1.area_code and a1.month_key = i1.month_key
	
	left join 
	(
		-- tính chi phí hoa hồng đã phân bổ 
		select  x.month_key , x.area_code ,
				x.chi_phi_hoa_hong + (z.chi_phi_hoa_hong  *  y.avg_dbgroup_12345 / y.avg_dbgroup_12345_head) as chi_phi_hoa_hong 
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			select a.month_key , a.area_code , a.avg_dbgroup_12345, b.avg_dbgroup_12345 as avg_dbgroup_12345_head
			from tmp_dnck_after_wo a 
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD' 
		) y on x.month_key = y.month_key and x.area_code = y.area_code 
		where x.area_code <> 'HEAD'
	) j1 on a1.area_code = j1.area_code and a1.month_key = j1.month_key
	
	left join 
	(
		-- tính chi phí thuần kinh doanh khác 
		select  x.month_key , x.area_code ,
				x.chi_phi_thuan_kd_khac + (z.chi_phi_thuan_kd_khac  *  y.avg_dbgroup_12345 / y.avg_dbgroup_12345_head) as chi_phi_thuan_kd_khac 
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		left join 
		(
			select a.month_key , a.area_code , a.avg_dbgroup_12345, b.avg_dbgroup_12345 as avg_dbgroup_12345_head
			from tmp_dnck_after_wo a 
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD' 
		) y on x.month_key = y.month_key and x.area_code = y.area_code 
		where x.area_code <> 'HEAD'
	) k1 on a1.area_code = k1.area_code and a1.month_key = k1.month_key
	
	left join 
	(
		-- tính chi phí thuế phí đã phân bổ 
		select  x.month_key , x.area_code ,
				x.chi_phi_thue_phi + (z.chi_phi_thue_phi *  sc.so_luong_sm  / sc.tong_sm) as chi_phi_thue_phi
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		join (
		    select distinct area_code, area_name
		    from dim_city
		    where area_name in (
		        'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		        'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		    )
		) m on x.area_code = m.area_code
		join (
			-- tính số lượng của từng khu vực và tổng số lượng
		    select area_name,
		           count(distinct email) as so_luong_sm,
		           (select count(distinct email)
		            from kpi_asm_data
		            where month_key = 202305) as tong_sm
		    from kpi_asm_data
		    where month_key = 202305
		      and area_name in (
		          'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		          'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		      )
		    group by area_name
		) sc
		     on m.area_name = sc.area_name
		where x.area_code <> 'HEAD'
	) l1 on a1.area_code = l1.area_code and a1.month_key = l1.month_key
	
	
	left join 
	(
		-- tính chi phí nhân viên 
		select  x.month_key , x.area_code ,
				x.chi_phi_nvien + (z.chi_phi_nvien *  sc.so_luong_sm  / sc.tong_sm) as chi_phi_nhan_vien
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		join (
		    select distinct area_code, area_name
		    from dim_city
		    where area_name in (
		        'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		        'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		    )
		) m on x.area_code = m.area_code
		join (
			-- tính số lượng của từng khu vực và tổng số lượng
		    select area_name,
		           count(distinct email) as so_luong_sm,
		           (select count(distinct email)
		            from kpi_asm_data
		            where month_key = 202305) as tong_sm
		    from kpi_asm_data
		    where month_key = 202305
		      and area_name in (
		          'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		          'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		      )
		    group by area_name
		) sc
		     on m.area_name = sc.area_name
		where x.area_code <> 'HEAD'
	) m1 on a1.area_code = m1.area_code and a1.month_key = m1.month_key
	
	left join 
	(
		-- tính chi phí quản lý đã phân bổ 
		select  x.month_key , x.area_code ,
				x.chi_phi_quan_ly + (z.chi_phi_quan_ly *  sc.so_luong_sm  / sc.tong_sm) as chi_phi_quan_ly
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		join (
		    select distinct area_code, area_name
		    from dim_city
		    where area_name in (
		        'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		        'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		    )
		) m on x.area_code = m.area_code
		join (
			-- tính số lượng của từng khu vực và tổng số lượng
		    select area_name,
		           count(distinct email) as so_luong_sm,
		           (select count(distinct email)
		            from kpi_asm_data
		            where month_key = 202305) as tong_sm
		    from kpi_asm_data
		    where month_key = 202305
		      and area_name in (
		          'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		          'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		      )
		    group by area_name
		) sc
		     on m.area_name = sc.area_name
		where x.area_code <> 'HEAD'
	) n1 on a1.area_code = n1.area_code and a1.month_key = n1.month_key
		
	left join 
	(
		-- tính chi phí tài sản đã phân bổ 
		select  x.month_key , x.area_code ,
				x.chi_phi_tai_san + (z.chi_phi_tai_san *  sc.so_luong_sm  / sc.tong_sm) as chi_phi_tai_san
		from tmp_area_chua_phan_bo x 
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		-- tính tỷ trọng phân bổ 
		join (
		    select distinct area_code, area_name
		    from dim_city
		    where area_name in (
		        'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		        'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		    )
		) m on x.area_code = m.area_code
		join (
		 	-- tính số lượng của từng khu vực và tổng số lượng
		    select area_name,
		           count(distinct email) as so_luong_sm,
		           (select count(distinct email)
		            from kpi_asm_data
		            where month_key = 202305) as tong_sm
		    from kpi_asm_data
		    where month_key = 202305
		      and area_name in (
		          'Đông Bắc Bộ','Tây Bắc Bộ','Đồng Bằng Sông Hồng',
		          'Bắc Trung Bộ','Nam Trung Bộ','Tây Nam Bộ','Đông Nam Bộ'
		      )
		    group by area_name
		) sc
		     on m.area_name = sc.area_name
		where x.area_code <> 'HEAD'
	) o1 on a1.area_code = o1.area_code and a1.month_key = o1.month_key			      
	
	left join 
	(
		-- tính chi phí dự phòng đã phân bổ 
		select  x.month_key , x.area_code ,
		  		x.chi_phi_du_phong + (z.chi_phi_du_phong *  y.avg_dbgroup_2345 / y.avg_dbgroup_2345_head) as chi_phi_du_phong
		from tmp_area_chua_phan_bo x
		join tmp_area_chua_phan_bo z on z.area_code = 'HEAD'
		left join 
		(
			-- tính dnck sau wo nhóm 2 3 4 5
			select a.month_key , a.area_code , a.avg_dbgroup_2345, b.avg_dbgroup_2345 as avg_dbgroup_2345_head
			from tmp_dnck_after_wo a 
			join tmp_dnck_after_wo b on b.area_code = 'HEAD'
			where a.area_code <> 'HEAD'
		) y on x.month_key = y.month_key and x.area_code = y.area_code 
		where x.area_code <> 'HEAD'
	) p1 on a1.area_code = p1.area_code and a1.month_key = p1.month_key	
	
	left join 
	(
		-- tính số lượng nhân sự đã phân bổ theo từng khu vực
		select vMonth_key as month_key,
			case 
	        when area_name = 'Đông Bắc Bộ' then 'B'
	        when area_name = 'Tây Bắc Bộ' then 'C'
	        when area_name = 'Đồng Bằng Sông Hồng' then 'D'
	        when area_name = 'Bắc Trung Bộ' then 'E'
	        when area_name = 'Nam Trung Bộ' then 'F'
	        when area_name = 'Tây Nam Bộ' then 'G'
	        when area_name = 'Đông Nam Bộ' then 'H'
	    end as area_code,
			count(sale_name) as so_luong_nhan_su
		from kpi_asm_data 
		group by month_key, area_name 
	) q1 on a1.area_code = q1.area_code and a1.month_key = q1.month_key	
	
	
	union all 
	
	select * 
	from tmp_area_chua_phan_bo z1
	where z1.area_code = 'HEAD';


 	-- Update log thành công
    update log_tracking_business 
    set end_time = clock_timestamp(),
        is_successful = true
    where procedure_name = 'fct_funding_daily_prc'
      and start_time = vStart_time;

exception
    when others then
        raise notice 'Error: %', sqlerrm;
end;
$$;

select * from log_tracking_business ltb 

-- gọi procedure 
call fct_business_month_prc(202302);



select * from fct_business_month fbm 
where month_key = 202302;


truncate table fct_business_month;  


DROP PROCEDURE IF EXISTS fct_business_month_prc(NUMERIC);



-- tạo báo cáo tháng X
select coalesce(a.month_key, 202302) as month_key , b.business_id , b.business_name , a.HEAD, a.Dong_Bac_Bo , a.Tay_Bac_Bo , a.Dong_Bang_Song_Hong ,
	   a.Bac_Trung_Bo , a.Nam_Trung_Bo , a.Tay_Nam_Bo , a.Dong_Nam_Bo 
from dim_business_structure b 
left join 
(
	select 
	    month_key,
	    business_id,
	    business_name,
	    sum(case when area_code = 'HEAD' then amount end) as HEAD,
	    sum(case when area_code = 'B' then amount end) as Dong_Bac_Bo,
	    sum(case when area_code = 'C' then amount end) as Tay_Bac_Bo,
	    sum(case when area_code = 'D' then amount end) as Dong_Bang_Song_Hong,
	    sum(case when area_code = 'E' then amount end) as Bac_Trung_Bo,
	    sum(case when area_code = 'F' then amount end) as Nam_Trung_Bo,
	    sum(case when area_code = 'G' then amount end) as Tay_Nam_Bo,
	    sum(case when area_code = 'H' then amount end) as Dong_Nam_Bo
	from 
		(
		-- pivot khu vực thành column để so sánh với các khu vưc khác 
		select month_key, area_code, 'lai_trong_han' as business_name, lai_trong_han  as amount	 , 10 as business_id from fct_business_month 
	    union all select month_key, area_code, 'lai_qua_han'          , lai_qua_han            	 , 11 from fct_business_month
	    union all select month_key, area_code, 'phi_bao_hiem'         , phi_bao_hiem             , 12 from fct_business_month
	    union all select month_key, area_code, 'phi_tang_han_muc'     , phi_tang_han_muc       	 , 13 from fct_business_month
	    union all select month_key, area_code, 'phi_thanh_toan_cham'  , phi_thanh_toan_cham   	 , 14 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_von_tt2'      , chi_phi_von_tt2       	 , 16 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_von_tt1'      , chi_phi_von_tt1       	 , 17 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_von_cctg'     , chi_phi_von_cctg     	 , 18 from fct_business_month
	    union all select month_key, area_code, 'dt_kinh_doanh'        , dt_kinh_doanh        	 , 21 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_hoa_hong'     , chi_phi_hoa_hong     	 , 22 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_thuan_kd_khac', chi_phi_thuan_kd_khac	 , 23 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_thue_phi'     , chi_phi_thue_phi       	 , 25 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_nhan_vien'    , chi_phi_nhan_vien     	 , 26 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_quan_ly'      , chi_phi_quan_ly       	 , 27 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_tai_san'      , chi_phi_tai_san      	 , 28 from fct_business_month
	    union all select month_key, area_code, 'thu_nhap_hd_tu_the'   , thu_nhap_hd_tu_the  	 , 4 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_thuan_kdv'    , chi_phi_thuan_kdv        , 5 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_thuan_hoat_dong_khac' , chi_phi_thuan_hoat_dong_khac , 6 from fct_business_month
	    union all select month_key, area_code, 'tong_thu_nhap_hd' , tong_thu_nhap_hd  , 7 from fct_business_month
	    union all select month_key, area_code, 'tong_chi_phi_hoat_dong', tong_chi_phi_hoat_dong , 8 from fct_business_month
	    union all select month_key, area_code, 'chi_phi_du_phong', chi_phi_du_phong , 9 from fct_business_month
	    union all select month_key, area_code, 'so_luong_nhan_su', so_luong_nhan_su , 2 from fct_business_month
	    union all select month_key, area_code, 'loi_nhuan_truoc_thue'  , loi_nhuan_truoc_thue  , 1 from fct_business_month
	    union all select month_key, area_code, 'cir ', cir, 29 from fct_business_month
	    union all select month_key, area_code, 'margin' , margin, 30 from fct_business_month
	    union all select month_key, area_code, 'hieu_suat_tren_von'  , hieu_suat_tren_von, 31 from fct_business_month
	    union all select month_key, area_code, 'hieu_suat_binh_quan_tren_nhan_su' , hieu_suat_binh_quan_tren_nhan_su , 32 from fct_business_month
	    
		) f
	group by f.month_key, f.business_id, f.business_name
) a on a.business_id = b.business_id 
where a.month_key = 202302
order by b.sortorder asc;





-- Báo cáo tháng X: gộp tổng theo business_name, không pivot
select 
    f.month_key,
    f.business_id,
    f.business_name,
    sum(f.amount) as value
from (
    select month_key, area_code, 'lai_trong_han' as business_name, lai_trong_han as amount, 10 as business_id from fct_business_month 
    union all select month_key, area_code, 'lai_qua_han'          , lai_qua_han             , 11 from fct_business_month
    union all select month_key, area_code, 'phi_bao_hiem'         , phi_bao_hiem            , 12 from fct_business_month
    union all select month_key, area_code, 'phi_tang_han_muc'     , phi_tang_han_muc        , 13 from fct_business_month
    union all select month_key, area_code, 'phi_thanh_toan_cham'  , phi_thanh_toan_cham     , 14 from fct_business_month
    union all select month_key, area_code, 'chi_phi_von_tt2'      , chi_phi_von_tt2         , 16 from fct_business_month
    union all select month_key, area_code, 'chi_phi_von_tt1'      , chi_phi_von_tt1         , 17 from fct_business_month
    union all select month_key, area_code, 'chi_phi_von_cctg'     , chi_phi_von_cctg        , 18 from fct_business_month
    union all select month_key, area_code, 'dt_kinh_doanh'        , dt_kinh_doanh           , 21 from fct_business_month
    union all select month_key, area_code, 'chi_phi_hoa_hong'     , chi_phi_hoa_hong        , 22 from fct_business_month
    union all select month_key, area_code, 'chi_phi_thuan_kd_khac', chi_phi_thuan_kd_khac   , 23 from fct_business_month
    union all select month_key, area_code, 'chi_phi_thue_phi'     , chi_phi_thue_phi        , 25 from fct_business_month
    union all select month_key, area_code, 'chi_phi_nhan_vien'    , chi_phi_nhan_vien       , 26 from fct_business_month
    union all select month_key, area_code, 'chi_phi_quan_ly'      , chi_phi_quan_ly         , 27 from fct_business_month
    union all select month_key, area_code, 'chi_phi_tai_san'      , chi_phi_tai_san         , 28 from fct_business_month
    union all select month_key, area_code, 'thu_nhap_hd_tu_the'   , thu_nhap_hd_tu_the      , 4  from fct_business_month
    union all select month_key, area_code, 'chi_phi_thuan_kdv'    , chi_phi_thuan_kdv       , 5  from fct_business_month
    union all select month_key, area_code, 'chi_phi_thuan_hoat_dong_khac', chi_phi_thuan_hoat_dong_khac , 6 from fct_business_month
    union all select month_key, area_code, 'tong_thu_nhap_hd'     , tong_thu_nhap_hd        , 7 from fct_business_month
    union all select month_key, area_code, 'tong_chi_phi_hoat_dong', tong_chi_phi_hoat_dong , 8 from fct_business_month
    union all select month_key, area_code, 'chi_phi_du_phong'     , chi_phi_du_phong        , 9 from fct_business_month
    union all select month_key, area_code, 'so_luong_nhan_su'     , so_luong_nhan_su        , 2 from fct_business_month
    union all select month_key, area_code, 'loi_nhuan_truoc_thue' , loi_nhuan_truoc_thue    , 1 from fct_business_month
    union all select month_key, area_code, 'cir'                  , cir                     , 29 from fct_business_month
    union all select month_key, area_code, 'margin'               , margin                  , 30 from fct_business_month
    union all select month_key, area_code, 'hieu_suat_tren_von'   , hieu_suat_tren_von      , 31 from fct_business_month
    union all select month_key, area_code, 'hieu_suat_binh_quan_tren_nhan_su', hieu_suat_binh_quan_tren_nhan_su , 32 from fct_business_month
) f
where f.month_key = 202302 and f.area_code <> 'HEAD'
group by f.month_key, f.business_id, f.business_name
order by f.business_id;


