
-- tạo procedure chưa phân bổ 
create or replace procedure  tmp_area_chua_phan_bo_prc (
    vMonth_key NUMERIC   -- truyền vào dạng YYYYMM, ví dụ: 202302
)
language plpgsql
as $$
declare 
    vProcess_dt  DATE;       -- ngày đầu tháng xử lý
    vEnd_dt      DATE;       -- ngày cuối tháng xử lý
    vStart_time timestamp = clock_timestamp();
begin
	
	-- Insert log start 
    insert into log_tracking_business(procedure_name, start_time, is_successful, rec_created_dt)
    values('prc_tmp_dnck_after_wo', vStart_time, null, current_timestamp);
	
    -- 1. Xác định khoảng thời gian xử lý
    vProcess_dt := DATE_TRUNC('year', TO_DATE(vMonth_key::TEXT, 'YYYYMM'));  -- 2023-01-01
	vEnd_dt     := (DATE_TRUNC('month', TO_DATE(vMonth_key::TEXT, 'YYYYMM')) + INTERVAL '1 month - 1 day'); -- 2023-02-28

    -- 2. Xóa dữ liệu cũ trong bảng tạm
    truncate table tmp_area_chua_phan_bo;
   

    -- 3. Đổ dữ liệu mới (tự động theo tháng)
    insert into tmp_area_chua_phan_bo (
        month_key, area_code, lai_trong_han, lai_qua_han , phi_bao_hiem, 
        phi_tang_han_muc, phi_thanh_toan_cham, chi_phi_von_tt2, chi_phi_von_tt1, chi_phi_von_CCTG, 
        dt_kinh_doanh, chi_phi_hoa_hong, chi_phi_thuan_kd_khac, chi_phi_thue_phi, chi_phi_nvien, 
        chi_phi_quan_ly, chi_phi_tai_san, thu_nhap_hd_tu_the ,chi_phi_thuan_KDV , chi_phi_thuan_hoat_dong_khac ,
        tong_thu_nhap_hoat_dong , tong_chi_phi_hoat_dong , chi_phi_du_phong , so_luong_nhan_su , 
        loi_nhuan_truoc_thue , cir , margin , hieu_suat_tren_von , hieu_suat_binh_quan_tren_nhan_su 
    )
	select 
	    a.month_key,
	    a.area_code,
	    b.lai_trong_han,
	    a.lai_qua_han,
	    c.phi_bao_hiem,
	    d.phi_tang_han_muc ,
	    e.phi_thanh_toan_cham,
	    f.chi_phi_von_tt2 ,
	    g.chi_phi_von_tt1,
	    h.chi_phi_von_CCTG,
	    i.dt_kinh_doanh ,
	   	j.chi_phi_hoa_hong,
	   	k.chi_phi_thuan_kd_khac ,
	   	l.chi_phi_thue_phi ,
	   	m.chi_phi_nvien ,
	   	n.chi_phi_quan_ly,
	   	o.chi_phi_tai_san ,
	   	coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0) as thu_nhap_hd_tu_the,
	   	coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0) as chi_phi_thuan_KDV,
	   	coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0) as chi_phi_thuan_hoat_dong_khac ,
	   	
	   	(coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   		(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   		(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)) as tong_thu_nhap_hoat_dong,
	   		
	   	coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien,0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0) as tong_chi_phi_hoat_dong,
	   	coalesce(p.chi_phi_du_phong, 0) ,
	   	coalesce(q.so_luong_nhan_su, 0) ,
	   	
	   	(coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   	(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   	(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)) + 
	   		coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien,0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0) + 
	   		coalesce(p.chi_phi_du_phong,0) as loi_nhuan_truoc_thue,
	   		
	   	-100.0* (coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien,0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0)) / 
	   		nullif((coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   		(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   		(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)),0) as CIR,
	   		
	   	100.0 * ((coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   	(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   	(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)) + 
	   	coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien,0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0) + 
	   	coalesce(p.chi_phi_du_phong, 0)) / 
	   		nullif((b.lai_trong_han + a.lai_qua_han + c.phi_bao_hiem +  d.phi_tang_han_muc + e.phi_thanh_toan_cham +
	   		coalesce(i.dt_kinh_doanh,0)),0) as MARGIN,
	   		
	   	100.0 * -((coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   	(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   	(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)) + 
	   	coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien,0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0) + 
	   	coalesce(p.chi_phi_du_phong,0)) / 
	   		nullif((coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)),0) as hieu_suat_tren_von,
	   	
	   	100.0 * ((coalesce(b.lai_trong_han,0) + coalesce(a.lai_qua_han,0) + coalesce(c.phi_bao_hiem,0) +  coalesce(d.phi_tang_han_muc,0) + coalesce(e.phi_thanh_toan_cham,0)) +
	   	(coalesce(f.chi_phi_von_tt2, 0) + coalesce(g.chi_phi_von_tt1, 0) + coalesce(h.chi_phi_von_CCTG, 0)) +
	   	(coalesce(i.dt_kinh_doanh,0) + coalesce(j.chi_phi_hoa_hong,0) + coalesce(k.chi_phi_thuan_kd_khac,0)) + 
	   	coalesce(l.chi_phi_thue_phi, 0) + coalesce(m.chi_phi_nvien, 0) + coalesce(n.chi_phi_quan_ly,0) + coalesce(o.chi_phi_tai_san,0) + 
	   	coalesce(p.chi_phi_du_phong,0)) / nullif(q.so_luong_nhan_su,0) as hieu_suat_binh_quan_tren_nhan_su
	   		
	   	
	from (
	    -- lãi quá hạn
	    select 
	        vMonth_key as month_key,
	        split_part(analysis_code , '.', 3) as area_code,
	        sum(amount) as lai_qua_han
	    from fact_txn_month_raw_data 
	    where account_code in (702000030012, 702000030112)
	      and analysis_code like 'DVML%'
	      and transaction_date between vProcess_dt AND vEnd_dt
	    group by 1,2
	
	    union all
	
	    select 
	        vMonth_key as month_key,
	        'HEAD' as area_code,
	        sum(amount)
	    from fact_txn_month_raw_data 
	    where account_code in (702000030012, 702000030112)
	      and analysis_code like 'HEAD%'
	      and transaction_date between vProcess_dt AND vEnd_dt
	    group by 1,2
	) a
	left join (
	    -- lãi trong hạn
	    select 
	        vMonth_key as month_key,
	        split_part(analysis_code , '.', 3) as area_code,
	        sum(amount) as lai_trong_han
	    from fact_txn_month_raw_data 
	    where account_code in (702000030002, 702000030001, 702000030102)
	      and analysis_code like 'DVML%'
	      and transaction_date between vProcess_dt AND vEnd_dt
	    group by 1,2
	
	    union all
	
	    select 
	        vMonth_key as month_key,
	        'HEAD' as area_code,
	        sum(amount)
	    from fact_txn_month_raw_data 
	    where account_code in (702000030002, 702000030001, 702000030102)
	      and analysis_code like 'HEAD%'
	      and transaction_date between vProcess_dt AND vEnd_dt
	    group by 1,2
	) b
	on a.area_code = b.area_code
	and a.month_key = b.month_key
	
	join 
	(
		-- phi bao hiem
		select 
		   vMonth_key as month_key,
		   split_part(analysis_code , '.', 3) as area_code, 
		   SUM(amount) AS phi_bao_hiem
		from fact_txn_month_raw_data ftmrd 
		where account_code = 716000000001 
			and analysis_code like 'DVML%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3) 
		union all 
		-- phí bảo hiểm HEAD
		select 
			   vMonth_key as month_key,
			   'HEAD' as area_code, 
			   SUM(amount) AS phi_bao_hiem
		from fact_txn_month_raw_data ftmrd 
		where account_code = 716000000001 
			and analysis_code like 'HEAD%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3)
	) c on a.area_code = c.area_code and a.month_key = c.month_key 
	
	left join 
	(
		select 
		   vMonth_key as month_key,
		   split_part(analysis_code , '.', 3) as area_code, 
		   SUM(amount) AS phi_tang_han_muc 
		from fact_txn_month_raw_data ftmrd 
		where account_code = 719000030002 
			and analysis_code like 'DVML%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3) 
		union all 
		-- phí tăng hạn mức HEAD
		select 
			   vMonth_key as month_key,
			   'HEAD' as area_code, 
			   SUM(amount) AS phi_tang_han_muc
		from fact_txn_month_raw_data ftmrd 
		where account_code = 719000030002 
			and analysis_code like 'HEAD%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3) 
	) d on a.area_code = d.area_code and a.month_key = d.month_key 
	
	left join  
	(
		select 
		   vMonth_key as month_key,
		   split_part(analysis_code , '.', 3) as area_code, 
		   SUM(amount) AS phi_thanh_toan_cham
		from fact_txn_month_raw_data ftmrd 
		where account_code in ( 719000030003,719000030103,790000030003,790000030103,790000030004,79000003010)
			and analysis_code like 'DVML%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3) 
		union all 
		-- phí tăng hạn mức HEAD
		select 
			   vMonth_key as month_key,
			   'HEAD' as area_code, 
			   SUM(amount) AS phi_thanh_toan_cham
		from fact_txn_month_raw_data ftmrd 
		where account_code in ( 719000030003,719000030103,790000030003,790000030103,790000030004,790000030104)
			and analysis_code like 'HEAD%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3)
	) e on a.area_code = e.area_code and a.month_key = e.month_key 
	
	left join  
	(	
		select 
		    vMonth_key as month_key,
		    split_part(analysis_code , '.', 3) as area_code, 
		    SUM(amount) AS chi_phi_von_tt2
		from fact_txn_month_raw_data ftmrd 
		where account_code in (801000000001,802000000001)
			and analysis_code like 'DVML%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3) 
		union all 
		-- chi phí vốn thị trường 2 HEAD 
		select 
			   vMonth_key as month_key,
			   'HEAD' as area_code, 
			   SUM(amount) AS chi_phi_von_tt2
		from fact_txn_month_raw_data ftmrd 
		where account_code in (801000000001,802000000001)
			and analysis_code like 'HEAD%' 
			and transaction_date between vProcess_dt AND vEnd_dt
		group by split_part(analysis_code , '.', 3)
	) f on a.area_code = f.area_code and a.month_key = f.month_key 
	
	left join 
	(
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_von_tt1
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (802000000002, 802000000003, 802014000001, 802037000001)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_von_tt1
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (802000000002, 802000000003, 802014000001, 802037000001)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) g on a.area_code = g.area_code and a.month_key = g.month_key 
	
	left join 
	(
		select vMonth_key as month_key,
				split_part(analysis_code,'.', 3) as area_code,
				sum(amount) as chi_phi_von_CCTG
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code = 803000000001
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_von_CCTG
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code = 803000000001
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) h on a.area_code = h.area_code and a.month_key = h.month_key 
	
	left join 
	(
		-- doanh thu kinh doanh 
		select vMonth_key as month_key,
				split_part(analysis_code,'.', 3) as area_code,
				sum(amount) as dt_kinh_doanh
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (702000010001, 702000010002, 704000000001, 705000000001, 709000000001, 714000000002, 714000000003, 
								714037000001, 714000000004, 714014000001, 715000000001, 715037000001, 719000000001, 709000000101, 719000000101)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as dt_kinh_doanh
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (702000010001, 702000010002, 704000000001, 705000000001, 709000000001, 714000000002, 714000000003, 
								714037000001, 714000000004, 714014000001, 715000000001, 715037000001, 719000000001, 709000000101, 719000000101)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) i on a.area_code = i.area_code and a.month_key = i.month_key 
	
	left join 
	(
		-- chi phí hoa hồng 
		select vMonth_key as month_key,
				split_part(analysis_code,'.', 3) as area_code,
				sum(amount) as chi_phi_hoa_hong 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (816000000001,816000000002,816000000003)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_hoa_hong
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (816000000001,816000000002,816000000003)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) j on a.area_code = j.area_code and a.month_key = j.month_key 
	
	left join 
	(
		-- chi phí thuần kd khác 
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_thuan_kd_khac 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (809000000002, 809000000001, 811000000001, 811000000102, 811000000002, 811014000001, 811037000001, 811039000001, 
								811041000001, 815000000001, 819000000002, 819000000003, 819000000001, 790000000003, 790000050101, 790000000101, 
								790037000001, 849000000001, 899000000003, 899000000002, 811000000101, 819000060001)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_thuan_kd_khac
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code  in (809000000002, 809000000001, 811000000001, 811000000102, 811000000002, 811014000001, 811037000001, 811039000001, 
								811041000001, 815000000001, 819000000002, 819000000003, 819000000001, 790000000003, 790000050101, 790000000101, 
								790037000001, 849000000001, 899000000003, 899000000002, 811000000101, 819000060001)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) k on a.area_code = k.area_code and a.month_key = k.month_key
	
	left join 
	(
		-- chi phí thuế, phí
		select vMonth_key as month_key,
				split_part(analysis_code,'.', 3) as area_code,
				sum(amount) as chi_phi_thue_phi 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (831000000001,831000000002,832000000101,832000000001,831000000102)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_thue_phi
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (831000000001,831000000002,832000000101,832000000001,831000000102)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3) 
	) l on a.area_code = l.area_code and a.month_key = l.month_key
	
	left join 
	(
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_nvien
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '85%'
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_nvien
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '85%'
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) m on a.area_code = m.area_code and a.month_key = m.month_key
	
	left join 
	(
		-- chi phí quản lý 
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_quan_ly 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '86%'
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_quan_ly
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '86%'
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) n on a.area_code = n.area_code and a.month_key = n.month_key
	
	left join 
	(
		-- chi phí tài sản 
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_tai_san
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '87%'
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_tai_san
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code::text like '87%'
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) o on a.area_code = o.area_code and a.month_key = o.month_key
	
	left join 
	(
		-- chi phí dự phòng chưa phân bổ
		select vMonth_key as month_key,
			split_part(analysis_code,'.', 3) as area_code,
			sum(amount) as chi_phi_du_phong 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (790000050001, 882200050001, 790000030001, 882200030001, 790000000001, 790000020101, 
								882200000001, 882200050101, 882200020101, 882200060001,790000050101 ,882200030101)
			and analysis_code like 'DVML%'
		group by split_part(analysis_code , '.', 3)
		
		union all 
		
		select  vMonth_key as month_key,
				'HEAD' as area_code,
				sum(amount) as chi_phi_du_phong 
		from fact_txn_month_raw_data  
		where transaction_date between vProcess_dt AND vEnd_dt
			and account_code in (790000050001, 882200050001, 790000030001, 882200030001, 790000000001, 790000020101, 
								882200000001, 882200050101, 882200020101, 882200060001,790000050101, 882200030101)
			and analysis_code like 'HEAD%'
		group by split_part(analysis_code , '.', 3)
	) p on a.area_code = p.area_code and a.month_key = p.month_key
	
	left join 
	(
		-- số lượng nhân sự sale chưa phân bổ 
		select  
			 vMonth_key as month_key,
			'HEAD' as area_code,
			sum(so_luong_nhan_su) as so_luong_nhan_su
		from 
		(
			select vMonth_key as month_key, 
			case 
				when area_name = 'Đông Bắc Bộ' then 'B'
				when area_name = 'Tây Bắc Bộ' then 'C'
				when area_name = 'Đồng Bằng Sông Hồng' then 'D'
				when area_name = 'Bắc Trung Bộ' then 'E'
				when area_name = 'Nam Trung Bộ' then 'F'
				when area_name = 'Tây Nam Bộ' then 'G'
				when area_name = 'Đông Nam Bộ' then 'H'
			end as area_code,
				count(sale_name) as so_luong_nhan_su 
			from kpi_asm_data 
			group by area_name  
		)
		
		union all 
		
		select vMonth_key as month_key,
			case 
	        when area_name = 'Đông Bắc Bộ' then 'B'
	        when area_name = 'Tây Bắc Bộ' then 'C'
	        when area_name = 'Đồng Bằng Sông Hồng' then 'D'
	        when area_name = 'Bắc Trung Bộ' then 'E'
	        when area_name = 'Nam Trung Bộ' then 'F'
	        when area_name = 'Tây Nam Bộ' then 'G'
	        when area_name = 'Đông Nam Bộ' then 'H'
	    end as area_code,
			count(sale_name) as so_luong
		from kpi_asm_data 
		group by area_name 
		
	) q on a.area_code = q.area_code and a.month_key = q.month_key;


	-- Update log thành công
    update log_tracking_business 
    set end_time = clock_timestamp(),
        is_successful = true
    where procedure_name = 'fct_funding_daily_prc'
      and start_time = vStart_time;
     
exception
    when others then
        raise notice 'Lỗi: %', sqlerrm;
end;
$$;



-- Xóa và nạp lại dữ liệu tháng 2
call tmp_area_chua_phan_bo_prc(202302);

-- Kiểm tra kết quả
select * from tmp_area_chua_phan_bo where month_key = 202302;


truncate table tmp_area_chua_phan_bo;


drop procedure if exists tmp_area_chua_phan_bo_prc(NUMERIC);





