
-- tạo procedure cho dnck trước wo 
create or replace procedure newproject11.prc_dnck_truoc_wo(
    in v_kpi_month numeric   -- ví dụ: 202303
)
language plpgsql
as $$
declare 
	vStart_time timestamp = clock_timestamp();
begin
	
	-- Insert log start 
    insert into log_tracking_business(procedure_name, start_time, is_successful, rec_created_dt)
    values('prc_dnck_truoc_wo', vStart_time, null, current_timestamp);
	
    -- THÔNG TIN NGƯỜI TẠO
    ----------------------------------------------------------------
    -- Tên người tạo: nguyen_van_chinh
    -- Ngày tạo: 2025-10-14
    -- Mục đích: Tính Dư nợ trước WO (dnck_345, dnck, WO lũy kế) và NPL_trước_WO_pct
    ----------------------------------------------------------------

    -- Xóa dữ liệu cũ cùng tháng (nếu có)
    delete from newproject11.tmp_dnck_truoc_wo where kpi_month = v_kpi_month;

    -- Chèn dữ liệu mới
    insert into newproject11.tmp_dnck_truoc_wo(
        area_code,
        kpi_month,
        dnck_345,
        dnck,
        wo_luy_ke,
        npl_truoc_wo_luy_ke
    )
    select 
        a1.area_code,
        a1.kpi_month,
        max(a1.dnck_345) AS dnck_345,
        max(c1.dnck) AS dnck,
        max(b1.wo_luy_ke) AS wo_luy_ke,   -- lấy WO lũy kế cuối cùng trong tháng
        round(
            (
                (max(a1.dnck_345) + coalesce(max(b1.wo_luy_ke),0))::numeric
                / nullif((max(c1.dnck) + coalesce(max(b1.wo_luy_ke),0)),0)
            ) * 100,
            2
        ) as npl_truoc_wo_luy_ke_pct
    from 
    (
        -- Dư nợ nhóm 3,4,5 sau WO tại tháng xét
        select 
            b.area_code, 
            a.kpi_month, 
            sum(a.outstanding_principal) AS dnck_345
        from newproject11.fact_kpi_month_raw_data a 
        join newproject11.dim_city b ON a.pos_city = b.city_name
        where coalesce(a.max_bucket,1) IN (3,4,5)
        group by b.area_code, a.kpi_month
    ) a1

    left join 
    (
        -- WO lũy kế từ đầu năm đến tháng xét
        select 
            t.area_code,
            t.kpi_month,
            sum(t.write_off_balance_principal) 
                OVER(PARTITION BY t.area_code ORDER BY t.kpi_month ROWS UNBOUNDED PRECEDING) AS wo_luy_ke
        from (
            select 
                b.area_code,
                a.kpi_month,
                a.write_off_balance_principal
            from newproject11.fact_kpi_month_raw_data a 
            join newproject11.dim_city b ON a.pos_city = b.city_name
            where a.kpi_month = a.write_off_month
        ) t
    ) b1 on a1.area_code = b1.area_code AND a1.kpi_month = b1.kpi_month

    left join
    (
        -- Dư nợ tổng sau WO tại tháng xét
        select 
            b.area_code, 
            a.kpi_month, 
            sum(a.outstanding_principal) as dnck
        from newproject11.fact_kpi_month_raw_data a
        join newproject11.dim_city b on a.pos_city = b.city_name
        group by b.area_code, a.kpi_month
    ) c1 on a1.area_code = c1.area_code and a1.kpi_month = c1.kpi_month

    where a1.kpi_month = v_kpi_month
    group by a1.area_code, a1.kpi_month
   	order by a1.area_code;

   	-- Update log thành công
    update log_tracking_business 
    set end_time = clock_timestamp(),
        is_successful = true
    where procedure_name = 'fct_funding_daily_prc'
      and start_time = vStart_time;
   
exception
    when others then
        raise notice 'Error: %', sqlerrm;
end;
$$;




select * from tmp_dnck_truoc_wo;


truncate table tmp_dnck_truoc_wo;


truncate table prc_dnck_truoc_wo;









-------------- nháp 

select 
    a1.area_code,
    a1.kpi_month,
    max(a1.dnck_345) as dnck_345,
    max(c1.dnck) as dnck,
    max(b1.wo_luy_ke) as wo_luy_ke,   -- lấy WO lũy kế cuối cùng trong tháng
    round(
        (
            (max(a1.dnck_345) + coalesce(max(b1.wo_luy_ke),0))::numeric
            / nullif((max(c1.dnck) + coalesce(max(b1.wo_luy_ke),0)),0)
        ) * 100,
        2
    ) as npl_truoc_wo_luy_ke_pct
from 
(
    -- Dư nợ nhóm 3,4,5 sau WO tại tháng xét 
    select  
    	b.area_code,
        a.kpi_month,
        sum(a.outstanding_principal) as dnck_345
    from fact_kpi_month_raw_data a 
    join dim_city b on a.pos_city = b.city_name
    where coalesce(a.max_bucket,1) in (3,4,5)
    group by b.area_code, a.kpi_month
) a1

left join 
(
    -- WO lũy kế từ đầu năm đến tháng xét
    select 
        t.area_code,
        t.kpi_month,
        sum(t.write_off_balance_principal) 
            over(partition by t.area_code order by t.kpi_month rows unbounded preceding) as wo_luy_ke
    from (
        select 
            b.area_code,
            a.kpi_month,
            a.write_off_balance_principal
        from fact_kpi_month_raw_data a 
        join dim_city b on a.pos_city = b.city_name
        where a.kpi_month = a.write_off_month
    ) t
) b1 on a1.area_code = b1.area_code and a1.kpi_month = b1.kpi_month

left join
(
    -- Dư nợ tổng sau WO tại tháng xét
    select 
        b.area_code, 
        a.kpi_month, 
        sum(a.outstanding_principal) as dnck
    from fact_kpi_month_raw_data a
    join dim_city b on a.pos_city = b.city_name
    group by b.area_code, a.kpi_month
) c1 on a1.area_code = c1.area_code and a1.kpi_month = c1.kpi_month

where a1.kpi_month = 202302 
group by a1.area_code, a1.kpi_month
order by a1.area_code;









Non performance loan trước Write off luỹ kế từ đầu năm. Số liệu này được tính toán như sau : 
(dư nợ nhóm 3,4,5 ( npl ) sau write off tại tháng xét + số tiền wo luỹ kế từ đầu năm đến tháng xét )  
/ (dư nợ tổng sau write off tại tháng xét + số tiền wo luỹ kế từ đầu năm đến tháng xét ) 


select * 
from 
(
	select b.area_code, a.kpi_month , sum(a.outstanding_principal) as dnck_345
	from fact_kpi_month_raw_data a 
	join dim_city b on a.pos_city = b.city_name
	where coalesce(max_bucket, 1) in (3,4,5)
		and kpi_month = 202302
	group by b.area_code, a.kpi_month
) a1

left join 
(
	select b.area_code, a.kpi_month, sum(write_off_balance_principal) as so_tien_wo_tung_thang
	from fact_kpi_month_raw_data a 
	join dim_city b on a.pos_city = b.city_name
	where kpi_month = write_off_month 
		and a.kpi_month between 202301 and 202302
	group by b.area_code, a.kpi_month	
) b1 on a1.area_code = b1.area_code 

left join
(
	select b.area_code, a.kpi_month, sum(outstanding_principal) as dnck 
	from fact_kpi_month_raw_data a
	join dim_city b on a.pos_city = b.city_name
	where a.kpi_month = 202302
	group by b.area_code, a.kpi_month
) c1 on a1.area_code = c1.area_code 



select * 
from fact_kpi_month_raw_data a 
join dim_city b on a.pos_city = b.city_name 




select kpi_month, sum(outstanding_principal)
from fact_kpi_month_raw_data
group by kpi_month 


202301	8864842269474
202302	9131596287589
202303	9405965852754
202304	9667602674836
202305	9985443387980


select kpi_month, sum(outstanding_principal)
from fact_kpi_month_raw_data
where pos_city in
(
	'Hà Giang',
	'Tuyên Quang',
	'Phú Thọ',
	'Thái Nguyên',
	'Bắc Kạn',
	'Cao Bằng',
	'Lạng Sơn',
	'Bắc Giang',
	'Quảng Ninh'
)
group by kpi_month 
-- dnck của B
202301	1018481644873
202302	1060974614952
202303	1100822251053
202304	1126548953627
202305	1169095310430



select kpi_month, sum(outstanding_principal)
from fact_kpi_month_raw_data
where pos_city in
	(
		'Hà Giang',
		'Tuyên Quang',
		'Phú Thọ',
		'Thái Nguyên',
		'Bắc Kạn',
		'Cao Bằng',
		'Lạng Sơn',
		'Bắc Giang',
		'Quảng Ninh'
	)
and coalesce(max_bucket, 1) in (3,4,5)
group by kpi_month 
-- dnck 3 4 5 của B
202301	160754310673
202302	172039165484
202303	181093862251
202304	185555108085
202305	188024105934

	
-- số tiền wo từng tháng của B
select kpi_month, sum(write_off_balance_principal)
from fact_kpi_month_raw_data
where pos_city in
(
	'Hà Giang',
	'Tuyên Quang',
	'Phú Thọ',
	'Thái Nguyên',
	'Bắc Kạn',
	'Cao Bằng',
	'Lạng Sơn',
	'Bắc Giang',
	'Quảng Ninh'
)
and kpi_month = write_off_month 
group by kpi_month 


202301	13426887349
202302	6147780456
202303	1588421013
202304	1426567135
202305	6653780051

-- 
t1 345 trước wo = t1 345 + t1 write off t1
t2 345 trước wo = t2 345 + t1 write off t1 + t2 write off t2

avg 345 trước wo

-- ko tính avg, mà chỉ tính pl trước wo tại tháng xét -> thử ngâm cứu vì sao lại chỉ tính npl tại tháng xét 
select (172039165484 + 6147780456 + 13426887349::float) / (1060974614952 + 6147780456 + 13426887349)







select * 
from fact_kpi_month_raw_data fkmrd 





select * from fact_kpi_month_raw_data fkmrd 
where pos_city like 'Tây Ninh'


-----------đông nam bộ 
select kpi_month, sum(outstanding_principal)
from fact_kpi_month_raw_data
where pos_city in
(
	'Hồ Chí Minh',
	'Bà Rịa - Vũng Tàu',
	'Bình Dương',
	'Bình Phước',
	'Đồng Nai',
	'Tây Ninh'
)
group by kpi_month 

-- dnck của B
202301	1637775083841
202302	1651265213714
202303	1677715191925
202304	1727183726095
202305	1840227148409



select kpi_month, sum(outstanding_principal)
from fact_kpi_month_raw_data
where pos_city in
	(
	'Hồ Chí Minh',
	'Bà Rịa - Vũng Tàu',
	'Bình Dương',
	'Bình Phước',
	'Đồng Nai',
	'Tây Ninh'
	)
and coalesce(max_bucket, 1) in (3,4,5)
group by kpi_month 

-- dnck 3 4 5 của B
202301	261966428831
202302	262023448047
202303	262312696995
202304	270648823593
202305	297956448441

	
-- số tiền wo từng tháng của B
select kpi_month, sum(write_off_balance_principal)
from fact_kpi_month_raw_data
where pos_city in
(
	'Hồ Chí Minh',
	'Bà Rịa - Vũng Tàu',
	'Bình Dương',
	'Bình Phước',
	'Đồng Nai',
	'Tây Ninh'
)
and kpi_month = write_off_month 
group by kpi_month 

202301	32291138959
202302	3028744694
202303	15604391119
202304	8360642313
202305	24851864580


select (262023448047 + 32291138959 + 3028744694::float) / (1651265213714 + 32291138959 + 3028744694) 







