
SELECT 
    z.month_key,
    z.area_name,
    z.email,
    z.ltn_avg,
    z.rank_ltn_avg,
    z.psdn_avg,
    z.rank_psdn_avg,
    z.approval_rate_avg,
    z.rank_approval_rate_avg,
    z.npl_truoc_wo_luy_ke,
    z.rank_npl_truoc_wo_luy_ke,
    z.diem_quy_mo,
    z.rank_ptkd,
    z.cir,
    z.rank_cir,
    z.margin,
    z.rank_margin,
    z.hieu_suat_tren_von,
    z.rank_hieu_suat_tren_von,
    z.hieu_suat_binh_quan_tren_nhan_su,
    z.rank_hieu_suat_binh_quan_tren_nhan_su,
    z.diem_fin,
    RANK() OVER (ORDER BY diem_fin ASC) AS rank_fin,
    (z.diem_quy_mo + z.diem_fin) AS tong_diem,
    RANK() OVER (ORDER BY (z.diem_quy_mo + z.diem_fin) ASC) AS rank_final
FROM (
    SELECT 
        qm.month_key,
        qm.area_name,
        qm.email,
        qm.ltn_avg,
        qm.rank_ltn_avg,
        qm.psdn_avg,
        qm.rank_psdn_avg,
        qm.approval_rate_avg,
        qm.rank_approval_rate_avg,
        qm.npl_truoc_wo_luy_ke,
        qm.rank_npl_truoc_wo_luy_ke,
        qm.diem_quy_mo,
        qm.rank_ptkd,
        tc.cir,
        RANK() OVER (ORDER BY tc.cir ASC) AS rank_cir,
        tc.margin,
        RANK() OVER (ORDER BY tc.margin DESC) AS rank_margin,
        tc.hieu_suat_tren_von,
        RANK() OVER (ORDER BY tc.hieu_suat_tren_von DESC) AS rank_hieu_suat_tren_von,
        tc.hieu_suat_binh_quan_tren_nhan_su,
        RANK() OVER (ORDER BY tc.hieu_suat_binh_quan_tren_nhan_su DESC) AS rank_hieu_suat_binh_quan_tren_nhan_su,
        (
            RANK() OVER (ORDER BY tc.cir ASC)
          + RANK() OVER (ORDER BY tc.margin DESC)
          + RANK() OVER (ORDER BY tc.hieu_suat_tren_von DESC)
          + RANK() OVER (ORDER BY tc.hieu_suat_binh_quan_tren_nhan_su DESC)
        ) AS diem_fin
    FROM (
        SELECT DISTINCT 
            t.month_key,
            t.area_name,
            t.email,
            t.ltn_avg,
            t.rank_ltn_avg,
            t.psdn_avg,
            t.rank_psdn_avg,
            t.approval_rate_avg,
            t.rank_approval_rate_avg,
            t.npl_truoc_wo_luy_ke,
            t.rank_npl_truoc_wo_luy_ke,
            t.diem_quy_mo,
            RANK() OVER (ORDER BY t.diem_quy_mo ASC) AS rank_ptkd
        FROM (
            SELECT 
                x.month_key,
                x.area_name,
                x.email,
                x.ltn_avg,
                x.rank_ltn_avg,
                x.psdn_avg,
                x.rank_psdn_avg,
                x.approval_rate_avg,
                x.rank_approval_rate_avg,
                z.npl_truoc_wo_luy_ke,
                RANK() OVER (ORDER BY z.npl_truoc_wo_luy_ke ASC) AS rank_npl_truoc_wo_luy_ke,
                (x.rank_ltn_avg + x.rank_psdn_avg + x.rank_approval_rate_avg 
                 + RANK() OVER (ORDER BY z.npl_truoc_wo_luy_ke ASC)) AS diem_quy_mo
            FROM (
                SELECT 
                    202302 AS month_key,
                    area_name, 
                    email,
                    SUM(jan_ltn + feb_ltn) / 2 AS ltn_avg,
                    RANK() OVER (ORDER BY SUM(jan_ltn + feb_ltn) / 2 DESC) AS rank_ltn_avg,
                    SUM(jan_psdn + feb_psdn) / 2 AS psdn_avg,
                    RANK() OVER (ORDER BY SUM(jan_psdn + feb_psdn) / 2 DESC) AS rank_psdn_avg,
                    SUM(jan_approval_rate + feb_approval_rate) / 2 AS approval_rate_avg,
                    RANK() OVER (ORDER BY SUM(jan_approval_rate + feb_approval_rate) / 2 DESC) AS rank_approval_rate_avg
                FROM kpi_asm_data kad
                WHERE jan_ltn IS NOT NULL OR feb_ltn IS NOT NULL
                GROUP BY area_name, email
            ) x
            JOIN (
                SELECT DISTINCT area_name, area_code 
                FROM dim_city
            ) y ON y.area_name = x.area_name
            JOIN (
                SELECT 
                    area_code, 
                    MAX(kpi_month) AS month_key, 
                    MAX(npl_truoc_wo_luy_ke) AS npl_truoc_wo_luy_ke
                FROM tmp_dnck_truoc_wo 
                WHERE kpi_month = 202302
                GROUP BY area_code
            ) z ON z.area_code = y.area_code
        ) AS t
    ) AS qm
    JOIN (
        SELECT DISTINCT area_name, area_code 
        FROM dim_city
    ) dc ON dc.area_name = qm.area_name
    JOIN (
        SELECT 
            202302 AS month_key,
            area_code,
            MAX(fbm.cir) AS cir,
            MAX(fbm.margin) AS margin,
            MAX(fbm.hieu_suat_tren_von) AS hieu_suat_tren_von,
            MAX(fbm.hieu_suat_binh_quan_tren_nhan_su) AS hieu_suat_binh_quan_tren_nhan_su
        FROM fct_business_month fbm
        WHERE month_key = 202302
        GROUP BY area_code
    ) AS tc ON tc.area_code = dc.area_code
) AS z
ORDER BY z.rank_ltn_avg;


select * from dim_city dc 




----------------------------**********************----------------------------------

DROP PROCEDURE IF EXISTS newproject11.report_rank_asm_prc;


-- tạo procedure báo cáo xếp hạng asm
CREATE OR REPLACE PROCEDURE newproject11.report_rank_asm_prc(
    in vMonth_key NUMERIC  -- Ví dụ: 202302
)
language plpgsql
as $$
declare 	
	vStart_time timestamp = clock_timestamp();
begin
	
	-- Insert log start 
    insert into log_tracking_business(procedure_name, start_time, is_successful, rec_created_dt)
    values('report_rank_asm_prc', vStart_time, null, current_timestamp);
   

    -- THÔNG TIN NGƯỜI TẠO
    ----------------------------------------------------------------
    -- Tên người tạo: Nguyễn Văn Chính
    -- Ngày tạo: 2025-10-15
    -- Mục đích: Báo cáo xếp hạng ASM theo Quy mô (KPI) và Tài chính (CIR, Margin, Hiệu suất)


    -- Xóa dữ liệu cũ cùng tháng nếu có
    delete from newproject11.new_report_rank_asm;

    -- Ghi dữ liệu mới vào bảng đích
    insert into newproject11.new_report_rank_asm(
        month_key,
        area_name,
        email,
        ltn_avg,
        rank_ltn_avg,
        psdn_avg,
        rank_psdn_avg,
        approval_rate_avg,
        rank_approval_rate_avg,
        npl_truoc_wo_luy_ke,
        rank_npl_truoc_wo_luy_ke,
        diem_quy_mo,
        rank_ptkd,
        cir,
        rank_cir,
        margin,
        rank_margin,
        hieu_suat_tren_von,
        rank_hieu_suat_tren_von,
        hieu_suat_binh_quan_tren_nhan_su,
        rank_hieu_suat_binh_quan_tren_nhan_su,
        diem_fin,
        rank_fin,
        tong_diem,
        rank_final
    )
    select 
        vMonth_key AS month_key,
        z.area_name,
        z.email,
        z.ltn_avg,
        z.rank_ltn_avg,
        z.psdn_avg,
        z.rank_psdn_avg,
        z.approval_rate_avg,
        z.rank_approval_rate_avg,
        z.npl_truoc_wo_luy_ke,
        z.rank_npl_truoc_wo_luy_ke,
        z.diem_quy_mo,
        z.rank_ptkd,
        z.cir,
        z.rank_cir,
        z.margin,
        z.rank_margin,
        z.hieu_suat_tren_von,
        z.rank_hieu_suat_tren_von,
        z.hieu_suat_binh_quan_tren_nhan_su,
        z.rank_hieu_suat_binh_quan_tren_nhan_su,
        z.diem_fin,
        rank() over(order by z.diem_fin asc) as rank_fin,
        (z.diem_quy_mo + z.diem_fin) as tong_diem,
        rank() over(order by (z.diem_quy_mo + z.diem_fin) asc) as rank_final
    from (
        select 
            qm.area_name,
            qm.email,
            qm.ltn_avg,
            qm.rank_ltn_avg,
            qm.psdn_avg,
            qm.rank_psdn_avg,
            qm.approval_rate_avg,
            qm.rank_approval_rate_avg,
            qm.npl_truoc_wo_luy_ke,
            qm.rank_npl_truoc_wo_luy_ke,
            qm.diem_quy_mo,
            qm.rank_ptkd,
            tc.cir,
            rank() over(order by tc.cir asc) AS rank_cir,
            tc.margin,
            rank() over(order by tc.margin desc) AS rank_margin,
            tc.hieu_suat_tren_von,
            rank() over(order by tc.hieu_suat_tren_von desc) AS rank_hieu_suat_tren_von,
            tc.hieu_suat_binh_quan_tren_nhan_su,
            rank() over(order by tc.hieu_suat_binh_quan_tren_nhan_su desc) AS rank_hieu_suat_binh_quan_tren_nhan_su,
            (
                rank() over(order by tc.cir asc)
                + rank() over(order by tc.margin desc)
                + rank() over(order by tc.hieu_suat_tren_von desc)
                + rank() over(order by tc.hieu_suat_binh_quan_tren_nhan_su desc)
            ) AS diem_fin
        from (
            select distinct
                t.area_name,
                t.email,
                t.ltn_avg,
                t.rank_ltn_avg,
                t.psdn_avg,
                t.rank_psdn_avg,
                t.approval_rate_avg,
                t.rank_approval_rate_avg,
                t.npl_truoc_wo_luy_ke,
                t.rank_npl_truoc_wo_luy_ke,
                t.diem_quy_mo,
                rank() over(order by t.diem_quy_mo asc) AS rank_ptkd
            from (
                select 
                    x.area_name,
                    x.email,
                    x.ltn_avg,
                    x.rank_ltn_avg,
                    x.psdn_avg,
                    x.rank_psdn_avg,
                    x.approval_rate_avg,
                    x.rank_approval_rate_avg,
                    z.npl_truoc_wo_luy_ke,
                    rank() over(order by z.npl_truoc_wo_luy_ke asc) AS rank_npl_truoc_wo_luy_ke,
                    (
                        x.rank_ltn_avg + x.rank_psdn_avg + x.rank_approval_rate_avg 
                        + rank() over(order by z.npl_truoc_wo_luy_ke asc)
                    ) AS diem_quy_mo
                from (
                    select 
                        area_name, 
                        email,
                        SUM(jan_ltn + feb_ltn) / 2 AS ltn_avg,
                        rank() over(order by SUM(jan_ltn + feb_ltn) / 2 desc) AS rank_ltn_avg,
                        SUM(jan_psdn + feb_psdn) / 2 AS psdn_avg,
                        rank() over(order by SUM(jan_psdn + feb_psdn) / 2 desc) AS rank_psdn_avg,
                        SUM(jan_approval_rate + feb_approval_rate) / 2 AS approval_rate_avg,
                        rank() over(order by SUM(jan_approval_rate + feb_approval_rate) / 2 desc) AS rank_approval_rate_avg
                    from newproject11.kpi_asm_data
                    where jan_ltn is not null or feb_ltn is not null
                    group by area_name, email
                ) x
                join newproject11.dim_city y ON y.area_name = x.area_name
                join (
                    select area_code, MAX(kpi_month) AS kpi_month, MAX(npl_truoc_wo_luy_ke) AS npl_truoc_wo_luy_ke
                    from newproject11.tmp_dnck_truoc_wo
                    where kpi_month = vMonth_key
                    group by area_code
                ) z on z.area_code = y.area_code
            ) t
        ) qm
        join (
            select distinct area_name, area_code 
            from newproject11.dim_city
        ) dc on dc.area_name = qm.area_name
        join (
            select 
                area_code, 
                MAX(cir) AS cir, 
                MAX(margin) AS margin,
                MAX(hieu_suat_tren_von) AS hieu_suat_tren_von,
                MAX(hieu_suat_binh_quan_tren_nhan_su) AS hieu_suat_binh_quan_tren_nhan_su
            from newproject11.fct_business_month
            where month_key = vMonth_key
            group by area_code
        ) tc on tc.area_code = dc.area_code
    ) z;

		-- Update log thành công
    update log_tracking_business 
    set end_time = clock_timestamp(),
        is_successful = true
    where procedure_name = 'fct_funding_daily_prc'
      and start_time = vStart_time;

exception
    when others then
        raise notice 'Error: %', sqlerrm;
end;
$$;


call newproject11.report_rank_asm_prc(202302);


select * from new_report_rank_asm 
where month_key = 202302;


truncate table new_report_rank_asm;















