

select * from kpi_asm_data kad 

select * from fact_kpi_month_raw_data fkmrd 

select * from fact_txn_month_raw_data ftmrd 

-- tạo bảng log_tracking _business
create table log_tracking_business(
	procedure_name varchar(1024),
	start_time timestamp,
	end_time timestamp,
	is_successful varchar(1024),
	error_log varchar(1023),
	rec_created_dt varchar(1024) default now()
)

-- tạo bảng dim_business_structure
create table dim_business_structure (
	business_id serial unique not null,
	business_name varchar(1024),
	sortorder int8,
	rec_created_dt timestamp,
	rec_update_dt timestamp 
)

-- insert dữ liệu vào bảng dim_business_structure
insert into dim_business_structure(business_id, business_name, sortorder, rec_created_dt, rec_update_dt) values 
(1, '1. Lợi nhuận trước thuế', 1000000, now(), now());

insert into dim_business_structure(business_id, business_name, sortorder, rec_created_dt, rec_update_dt) values 
(2, '2. Số lượng nhân sự (Sale Manager)', 2000000, now(), now());

insert into dim_business_structure(business_id, business_name, sortorder, rec_created_dt, rec_update_dt) values 
(3, '3. Chỉ số tài chính', 3000000, now(), now());































select * from dim_business_structure; 


-- Dựng cấu trúc bảng fact về các tiêu chí báo cáo theo month
create table fct_business_month ( 
	month_key numeric(10) null,
	business_id int8 not null,
	business_name varchar(1024),
	amount numeric(18,2) null
);



-- tạo bang dim_city 
create table dim_city (
	city_name varchar(1024),
	city_id int8,
	area_code varchar(1024),
	area_name varchar(1024)
)




-- tạo bảng tmp_dnck_after_wo 
create table tmp_dnck_after_wo (
	month_key int8 not null,
	area_code varchar(1024),
	avg_dbgroup_1 int8,
	avg_dbgroup_2 int8,
	avg_dbgroup_345 int8, 
	avg_dbgroup_2345 int8, 
	avg_dbgroup_12345 int8
);

-- thêm dữ liệu vào bảng tmp_dnck_after_wo 

truncate table newproject11.tmp_dnck_after_wo;

INSERT INTO newproject11.tmp_dnck_after_wo
(month_key, area_code, avg_dbgroup_1, avg_dbgroup_2, avg_dbgroup_345, avg_dbgroup_2345, avg_dbgroup_12345)


-- dnck avg khu vuc : sau wo 
select 202302 as month_key, area_code, avg(os_after_wo_1) as avg_after_wo_1,
	avg(os_after_wo_2) as avg_after_wo_2, avg(os_after_wo_345) as avg_after_wo_345,
	avg(os_after_wo_2345) as avg_after_wo_2345, avg(os_after_wo_12345) as avg_after_wo_12345 
from 
(
	select y.area_code , x.kpi_month, 
	sum
	(
		case 
			when coalesce(max_bucket,1) = 1 then outstanding_principal 
			else 0
		end 
	) as os_after_wo_1,
	sum
	(
		case 
			when coalesce(max_bucket,1) = 2 then outstanding_principal 
			else 0
		end 
	) as os_after_wo_2,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_345,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (2,3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_2345,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (1,2,3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_12345
	from fact_kpi_month_raw_data x 
	join dim_city y on x.pos_city = y.city_name 
	where kpi_month between 202301 and 202302 
	group by x.kpi_month, y.area_code  
) x 
group by area_code 
union 
select 202302 as kpi_month, area_code, avg(os_after_wo_1) as avg_after_wo_1,
	avg(os_after_wo_2) as avg_after_wo_2, avg(os_after_wo_345) as avg_after_wo_345, avg(os_after_wo_2345), avg(os_after_wo_12345) as avg_after_wo_2345 
from 
(
	select 'HEAD' as area_code , x.kpi_month, 
	sum
	(
		case 
			when coalesce(max_bucket,1) = 1 then outstanding_principal 
			else 0
		end 
	) as os_after_wo_1,
	sum
	(
		case 
			when coalesce(max_bucket,1) = 2 then outstanding_principal 
			else 0
		end 
	) as os_after_wo_2,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_345,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (2,3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_2345,
	sum
	(
		case 
			when coalesce(max_bucket,1) in (1,2,3,4,5) then outstanding_principal 
			else 0
		end 
	) as os_after_wo_12345
	from fact_kpi_month_raw_data x 
	join dim_city y on x.pos_city = y.city_name 
	where kpi_month between 202301 and 202302 
	group by x.kpi_month
) x
group by area_code;



select * from tmp_dnck_after_wo;









--- procedure tmp_dnck_after_wo 

create or replace procedure prc_tmp_dnck_after_wo (
    vMonth_key numeric   -- ví dụ: 202302
)
language plpgsql
as $$
declare
    vProcess_dt date;
    vEnd_dt     date;
    vStart_key  numeric;
   	vStart_time timestamp = clock_timestamp();
begin
	

	-- Insert log start 
    insert into log_tracking_business(procedure_name, start_time, is_successful, rec_created_dt)
    values('prc_tmp_dnck_after_wo', vStart_time, null, current_timestamp);
	
    -- 1️ Xác định khoảng thời gian xử lý (lũy kế từ đầu năm)
    vProcess_dt := date_trunc('year', to_date(vMonth_key::text, 'YYYYMM')); 
    vEnd_dt     := (date_trunc('month', to_date(vMonth_key::text, 'YYYYMM')) + interval '1 month - 1 day');
    vStart_key  := extract(year from vEnd_dt)::numeric * 100 + 1;


    -- 2️ Xóa dữ liệu cũ
    truncate table newproject11.tmp_dnck_after_wo;


    -- 3️ Đổ dữ liệu mới
    insert into newproject11.tmp_dnck_after_wo
    (month_key, area_code, avg_dbgroup_1, avg_dbgroup_2, avg_dbgroup_345, avg_dbgroup_2345, avg_dbgroup_12345)
    -- Phần 1: Khu vực
    select 
        vMonth_key as month_key, 
        area_code, 
        AVG(os_after_wo_1)   as avg_dbgroup_1,
        AVG(os_after_wo_2)   as avg_dbgroup_2,
        AVG(os_after_wo_345) as avg_dbgroup_345,
        AVG(os_after_wo_2345) as avg_dbgroup_2345,
        AVG(os_after_wo_12345) as avg_dbgroup_12345
    from (
        select 
            y.area_code, 
            x.kpi_month,
            sum(case when coalesce(max_bucket,1)=1 then outstanding_principal else 0 end) as os_after_wo_1,
            sum(case when coalesce(max_bucket,1)=2 then outstanding_principal else 0 end) as os_after_wo_2,
            sum(case when coalesce(max_bucket,1) in (3,4,5) then outstanding_principal else 0 end) as os_after_wo_345,
            sum(case when coalesce(max_bucket,1) in (2,3,4,5) then outstanding_principal else 0 end) as os_after_wo_2345,
            sum(case when coalesce(max_bucket,1) in (1,2,3,4,5) then outstanding_principal else 0 end) as os_after_wo_12345
        from fact_kpi_month_raw_data x
        join dim_city y on x.pos_city = y.city_name
        where x.kpi_month between vStart_key and vMonth_key
        group by x.kpi_month, y.area_code
    ) t
    group by area_code

    union all
    
    -- Phần 2: HEAD
    select 
        vMonth_key as month_key,
        'HEAD' as area_code,
        AVG(os_after_wo_1)   as avg_dbgroup_1,
        AVG(os_after_wo_2)   as avg_dbgroup_2,
        AVG(os_after_wo_345) as avg_dbgroup_345,
        AVG(os_after_wo_2345) as avg_dbgroup_2345,
        AVG(os_after_wo_12345) as avg_dbgroup_12345
    from (
        select 
            'HEAD' AS area_code, 
            x.kpi_month,
            sum(case when coalesce(max_bucket,1) = 1 then outstanding_principal else 0 end) as os_after_wo_1,
            sum(case when coalesce(max_bucket,1) = 2 then outstanding_principal else 0 end) as os_after_wo_2,
            sum(case when coalesce(max_bucket,1) in (3,4,5) then outstanding_principal else 0 end) as os_after_wo_345,
            sum(case when coalesce(max_bucket,1) in (2,3,4,5) then outstanding_principal else 0 end) as os_after_wo_2345,
            sum(case when coalesce(max_bucket,1) in (1,2,3,4,5) then outstanding_principal else 0 end) as os_after_wo_12345
        from fact_kpi_month_raw_data x
        join dim_city y on x.pos_city = y.city_name
        where x.kpi_month between vStart_key and vMonth_key
        group by x.kpi_month
    ) h
    group by area_code;

   
 	-- Update log thành công
    update log_tracking_business 
    set end_time = clock_timestamp(),
        is_successful = true
    where procedure_name = 'fct_funding_daily_prc'
      and start_time = vStart_time;
   
   
exception
    when others then 
        raise notice 'Lỗi  %', sqlerrm;
end;
$$;



select * from log_tracking_business ltb 

-- gọi procedure  
call prc_tmp_dnck_after_wo(202302);


select * from newproject11.tmp_dnck_after_wo;



-- xóa dữ liệu trong tmp_dnck_after_wo 
truncate table newproject11.tmp_dnck_after_wo;



-- xoá procedure 
truncate table prc_tmp_dnck_after_wo


